body {
  font-family: "Rubik", sans-serif;
  background: linear-gradient(
    179.4deg,
    rgb(12, 20, 69) -16.9%,
    rgb(71, 30, 84) 119.9%
  );
}

h1 {
  font-family: "Noticia Text", serif;
  text-align: center;
  padding: 30px 20px 20px 20px;
  display: block;
  color: #ffff;
  text-shadow: 0px 3px 3px grey;
}

h4 {
  font-family: "Noticia Text", serif;
  text-align: center;
  padding: 30px 20px 20px 20px;
  display: block;
  color: #ffff;
  text-shadow: 0px 3px 3px grey;
}

h2 {
  font-family: "Noticia Text", serif;
  text-align: center;
  padding-top: 30px;
  color: #ffff;
}

h3,
h5 {
  font-family: "Rubik", sans-serif;
  font-weight: 800;
}

.search-bar {
  display: inline;
  height: 38px;
  text-align: center;
  margin: 5px 5px;
  padding: 10px 10px;
  border: 1px solid grey;
  border-radius: 20px;
  box-shadow: 0px 0px 8px 0px #ffff;
}

.btn-submit {
  display: inline;
  height: 40px;
  text-align: center;
  margin: 10px 0px;
  padding: 5px 10px;
  border: 1px solid #ffff;
  border-radius: 20px;
  box-shadow: 0px 0px 8px 0px #f7f7f7;
  background: grey;
  color: #fff;
  font-family: "Rubik", sans-serif;
  transition: all 200ms ease;
}

.btn-location {
  display: inline;
  height: 40px;
  width: 150px;
  text-align: center;
  margin: 10px 0px;
  padding: 5px 0px;
  border: 1px solid #ffff;
  border-radius: 20px;
  box-shadow: 0px 0px 8px 0px #f7f7f7;
  background: black;
  color: #fff;
  font-family: "Rubik", sans-serif;
  transition: all 200ms ease;
}

.btn-submit:hover,
.btn-location:hover {
  background-color: #ffff;
  color: black;
  cursor: pointer;
}

.card-header {
  font-style: italic;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  padding: 30px 0;
  color: pink;
}

.card-city {
  padding: 10px 30px;
}

.col-sm-3 {
  width: auto;
  height: fit-content;
  padding-bottom: 0px;
  padding-top: 60px;
  display: flex-end;
}

.col-sm-6 {
  padding-top: 20px;
}

.current-temp,
.card-cel {
  padding-left: 30px;
}

.coded {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #fff;
}

.sun {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  border-radius: 30px;
}

.my-card {
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  overflow: hidden;
}

.card-weather img {
  width: 30%;
  position: relative;
  right: -230px;
}

.card-weather .overlay-text {
  position: absolute;
  top: 30px;
  left: 20px;
}

.card-img img {
  width: 10%;
}

.show-forecasttemp {
  text-align: center;
}

#show-city {
  padding-top: 10px;
  font-weight: 800;
  text-transform: capitalize;
}

#show-country {
  padding-bottom: 20px;
}

#weather-status {
  padding-top: 30px;
  padding-left: 30px;
  font-weight: 800;
  text-transform: capitalize;
}

#sunrise {
  float: left;
  font-weight: bold;
  padding-left: 20px;
  font-size: 18px;
}

#sunset {
  float: right;
  font-weight: bold;
  padding-right: 20px;
  font-size: 18px;
}

#temp-max {
  padding-right: 10px;
}

#temp-min {
  color: lightgray;
}
